/* Toc */
.post-toc {
  position: fixed;
  max-width: 20rem;
  top: var(--gap);
  right: var(--gap);
  background-color: var(--color-bg);
  border-radius: var(--global-radius);
  transition: all var(--trans-default);
  box-shadow: inset 0 0 0 var(--border-width) var(--color-border);

  @media (--mq-md) {
    top: var(--gap-lg);
    right: var(--gap-lg);
  }

  &__wrapper {
    position: absolute;
  }

  &.is-active {
    .post-toc__header span,
    .post-toc__content {
      display: block;
    }

    .post-toc__header {
      border-bottom: var(--border-width) solid var(--color-border);
    }
  }

  &.is-aside {
    position: sticky;
    right: 0;
    top: 1em;

    @media (--mq-md) {
      top: 2em;
    }

    .post-toc__header span { display: block; }
  }

  &.is-floating {
    top: calc(var(--global-header-height) + 1em);
    box-shadow: inset 0 0 0 var(--border-width) var(--color-border);
    z-index: 45;

    @media (--mq-md) {
      top: calc(var(--global-header-height) + 2em);
    }
  }

  &.is-visible {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  &__header {
    font-weight: var(--font-weight-bold);
    border-color: var(--color-border);
    color: var(--color-text-acc);
    transition: border var(--trans-default);

    span {
      padding-left: var(--gap);
      display: none;
    }
  }

  &__toggle {
    padding: 12px;

    @mixin attention {
      outline: none;
      color: var(--color-primary);
    }
  }

  &__content { 
    padding: var(--gap-sm) var(--gap) var(--gap-sm) 0;
    max-height: 65vh;
    overflow-y: scroll;
    font-size: 0.9rem;
    font-weight: var(--font-weight-medium);
    color: var(--color-text-acc);
    display: none;

    @mixin hide-scrollbar
  }

  .toc-list { padding: 0; }

  .toc-list-item {
    padding-left: var(--gap);
    display: block;

    &:last-of-type .toc-link {
      margin-bottom: 0;
    }

    .is-active-link {
      position: relative;

      &:before {
        content: "";
        position: absolute;
        left: calc(-1 * var(--gap));
        top: 0;
        width: 2px;
        height: calc(100% - var(--gap-xs));
        background-color: var(--color-primary);
      }

      & > a {
        color: var(--color-primary);
      }
    }
    
    &::marker {
      color: transparent;
    }

    .toc-list-item {
      .is-active-link:before {
        left: calc(-2 * var(--gap));
      }

      .toc-list-item {
        .is-active-link:before {
          left: calc(-3 * var(--gap));
        }
      }
    }
  }

  .toc-link {
    display: block;
    line-height: 1.2;
    padding-bottom: var(--gap-xs);
    margin-bottom: var(--gap-sm);

    @mixin attention {
      color: var(--color-primary)
    }
  }

  .js-toc > .toc-list {
    padding-left: 0;
    margin-bottom: 0;
  }
}

.header.is-pinned ~ .main .post-toc.is-floating,
.header.is-top ~ .main .post-toc.is-floating,
.header.is-pinned ~ .main .post-toc.is-aside {
  top: calc(var(--global-header-height) + 1em);

  @media (--mq-md) {
    top: calc(var(--global-header-height) + 2em);
  }
}

.header[data-header="sticky"] ~ .main .post-toc {
  top: calc(var(--global-header-height) + 2em);
}
